<h1>Supid Coaching</h1>


<div class="alert alert-primary" role="alert">
  <p>You: <%= @question %></p>
</div>

<div class="alert alert-warning" role="alert">
 <p>Your coach: <%= @answer %></p>
</div>

<%= link_to "Ask a new question", ask_path%>
